In [1]:
import pandas as pd

In [2]:
alumni= pd.read_csv ('September.csv')
print(alumni)

    Year Graduated  Gender Marital Status          Diploma Type Defaulted  \
0             2004    Male         Single      Standard Diploma       Yes
1             2005    Male        Married  College Prep Diploma        No
2             2006  Female         Single      Standard Diploma       Yes
3             2007    Male        Married      Standard Diploma        No
4             2006  Female       Divorced      Standard Diploma       Yes
..             ...     ...            ...                   ...       ...
83            2007    Male         Single      Standard Diploma        No
84            2008       M         Single  College Prep Diploma       Yes
85            2009    Male        Married      Standard Diploma        No
86            2005  Female       Divorced      Standard Diploma       Yes
87            2006    Male        Married      Standard Diploma       Yes

    Salary    Fee Savings ($)
0   125000  10869    $86,000
1   100000  10869   $116,000
2    70000  10869    $52,000
3   120000  10869    $76,000
4    95000  11948    $52,000
..     ...    ...         ...
83   75000  12066    $16,000
84   65000  12066    $72,000
85   75000  12066    $46,000
86  100000  12067    $32,000
87   75000  12067    $67,000

[88 rows x 8 columns]

In [3]:
alumni.head(3)

,Year Graduated,Gender,Marital Status,Diploma Type,Defaulted,Salary,Fee,Savings ($)
0,2004,Male,Single,Standard Diploma,Yes,125000,10869,"$86,000"
1,2005,Male,Married,College Prep Diploma,No,100000,10869,"$116,000"
2,2006,Female,Single,Standard Diploma,Yes,70000,10869,"$52,000"

In [4]:
alumni.tail(3)

,Year Graduated,Gender,Marital Status,Diploma Type,Defaulted,Salary,Fee,Savings ($)
85,2009,Male,Married,Standard Diploma,No,75000,12066,"$46,000"
86,2005,Female,Divorced,Standard Diploma,Yes,100000,12067,"$32,000"
87,2006,Male,Married,Standard Diploma,Yes,75000,12067,"$67,000"

In [5]:
alumni.dtypes

Year Graduated     int64
Gender            object
Marital Status    object
Diploma Type      object
Defaulted         object
Salary             int64
Fee                int64
Savings ($)       object
dtype: object

In [6]:
alumni.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year Graduated  88 non-null     int64
 1   Gender          88 non-null     object
 2   Marital Status  88 non-null     object
 3   Diploma Type    88 non-null     object
 4   Defaulted       88 non-null     object
 5   Salary          88 non-null     int64
 6   Fee             88 non-null     int64
 7   Savings ($)     88 non-null     object
dtypes: int64(3), object(5)
memory usage: 5.6+ KB

In [7]:
alumni.describe()

       Year Graduated         Salary           Fee
count       88.000000      88.000000     88.000000
mean      2006.477273   84090.909091  11708.727273
std          1.560852   21234.128008   1110.647949
min       2004.000000   35000.000000  10869.000000
25%       2005.000000   75000.000000  10968.000000
50%       2006.500000   75000.000000  11696.000000
75%       2008.000000   90000.000000  12058.250000
max       2009.000000  160000.000000  20960.000000

In [8]:
clean_currency("$86,000")

NameError: name 'clean_currency' is not defined

In [9]:
def clean_currency(curr):
    return float(curr.replace(",", "").replace("$", ""))

clean_currency("$86,000")

86000.0

In [10]:
clean_currency("$86,000","$116,000","$52,000","$76,000")

TypeError: clean_currency() takes 1 positional argument but 4 were given

In [11]:
clean_currency("$116,000")

116000.0

In [12]:
clean_currency("$52,000")

52000.0

In [13]:
clean_currency("$76,000")

76000.0

In [14]:
alumni.dtypes.Savings

AttributeError: 'Series' object has no attribute 'Savings'

In [15]:
alumni.Savings()

AttributeError: 'DataFrame' object has no attribute 'Savings'

In [16]:
alumni.dtypes.Savings()

AttributeError: 'Series' object has no attribute 'Savings'

In [17]:
alumni.dtypes

Year Graduated     int64
Gender            object
Marital Status    object
Diploma Type      object
Defaulted         object
Salary             int64
Fee                int64
Savings ($)       object
dtype: object

In [18]:
clean_currency("$16,000")

16000.0

In [19]:
clean_currency("$72,000")

72000.0

In [20]:
clean_currency("$46,000")

46000.0

In [21]:
clean_currency("$32,000")

32000.0

In [22]:
clean_currency("$67,000")

67000.0

In [23]:
alumni.dtypes

Year Graduated     int64
Gender            object
Marital Status    object
Diploma Type      object
Defaulted         object
Salary             int64
Fee                int64
Savings ($)       object
dtype: object

In [24]:
clean_currency("$52,000")

52000.0

In [25]:
alumni.dtypes

Year Graduated     int64
Gender            object
Marital Status    object
Diploma Type      object
Defaulted         object
Salary             int64
Fee                int64
Savings ($)       object
dtype: object

In [26]:
alumni["Gender"].value_counts()

Male      46
Female    39
M          3
Name: Gender, dtype: int64

In [27]:
convert incorrect M strings to gender
alumni["Gender"].str.replace

SyntaxError: invalid syntax (198481460.py, line 1)

In [28]:
#convert incorrect M strings to gender
alumni["Gender"].str.replace

In [29]:
# update column

In [30]:
use loc command
df.loc[7, 'Duration']

SyntaxError: invalid syntax (287820022.py, line 1)

In [31]:
# run the gender count
alumni.Savings

AttributeError: 'DataFrame' object has no attribute 'Savings'

In [32]:
#Q5...

In [ ]:
#Q6....